body{
	font-family: 'Lato', sans-serif;
}


.colortemplate{
	background-color: #218C8D;
	color: white;
}
.name{
	background-color: #C0C0C0;
	color:#218C8D;
}

.greencolor{
	color:#218C8D;
}

.margincheck{
	margin-left: 20px;
}

.topimage{
	margin-right: 20px;
	margin-left: 20px;
}

br {
   display: block;
   margin: 5px 0;
   line-height:5px;
}